/Video/No_QR_Test.mp4
/Video/OutTest.mp4
/Video/PRutkowski (HH-SRVHOME1UserHomes$) (Z) - Shortcut.lnk
/Video/TestVideo.mp4
/Video/TestVideoNew.mp4
/Video/TestVideoNewAuto.mp4
Images/
Reports/Data/Scan Results/
Video/
__pycache__/
/obspython.py
/Reports/
/Python/NumbaTest.py
/venv/
/.idea/.name
/Rendered_Videos/Original.mp4
/Rendered_Videos/qr_test_vid_5000_frames_60fps_Fractured1080p60.0FPS5000Frames.mp4
/Rendered_Videos/Rendered.mp4
/Rendered_Videos/test_qr_clip.mp4
/Rendered_Videos/test_qr_clip1.mp4
/RenderBatch.py
