/Capture.PNG
/Video/No_QR_Test.mp4
/Video/OutTest.mp4
/Video/PRutkowski (HH-SRVHOME1UserHomes$) (Z) - Shortcut.lnk
/Video/TestVideo.mp4
/Video/TestVideoNew.mp4
/Video/TestVideoNewAuto.mp4
/Scan Results/
Images/
Scan Results/
Video/
__pycache__/
/obspython.py
/Metric Reports/
